*{
    margin: 0;
    padding: 0;
}

/*NAVIGATION BAR*/
.navigation{
    position: sticky;
    top: 0;
    z-index: 0;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: white;
}
.navbar-brand{
    margin-left: 20px;
}


/*IIIT ONGOLE HEADING SECTION*/
.heading{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: white;
    padding-top: 5%;
}
.heading .container .row .col-md-6 .head{
    font-weight: 500;
    font-size: 40px;
    margin-top: 50px;
}
.heading .container .row .col-md-6 .subhead{
    font-weight: 500;
    font-size: 35px;
}
.heading .container .row .col-md-6 p{
    font-weight: 400;
    font-size: 20px;
}
.heading .container .row .col-md-6 button{
    border-radius: 10%;
    background-color: rgb(0,0,0,0);
    border: none;
    border-left: 3px solid white;
    animation-name: button;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes button{
    0%{
        border-left: 4px solid white;
    }
    25%{
        border-top: 4px solid white;
    }
    50%{
        border-right: 4px solid white;
    }
    75%{
        border-bottom: 4px solid white;
    }
}
.heading img{
    width: 100%;
}

/*INTRODUCTION*/
.intro .title{
    font-weight: 400;
    font-size: 50px;
    padding: 5% 0;
    color: rgb(49, 49, 49);
}
.intro .container .row .col-md-4 p{
    font-size: 20px;
    font-weight: 300;
}
.intro .container .btn{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: white;
    border: none;
    margin-bottom: 20px;
}
.intro .container .btn:hover{
    width: 150px;
    height: 50px;
}

/*footer*/
.foot{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}
.foot img{
    width: 100%;
}
.foot .container .row .col-md-6 img{
    margin-bottom: 20px;
}
.foot .container .row .col-md-6 p{
    color: white;
    font-weight: 400;
}
.foot .container .row .col-md-6 .ssh{
    margin: 30px 0;
    font-weight: 400;
    font-size: 25px;
}
.foot .container .row .col-md-6 svg{
    margin-right: 15px;
}
.foot .container .row .col-md-6 svg:hover{
    transform: translateY(-10px);
}
